{% load static %}


<html>

<head>

   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

   <title>{% block title %}{% endblock %}</title>

   <style type="text/css">

    a {color: #4A72AF;}

    body, #header h1, #header h2, p {margin: 0; padding: 0;}

    #main {border: 1px solid #cfcece;}

    img {display: block;}

    #top-message p, #bottom-message p {color: #3f4042; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }

    #header h1 {color: #ffffff !important; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; font-size: 24px; margin-bottom: 0!important; padding-bottom: 0; }

    #header h2 {color: #ffffff !important; font-family: Arial, Helvetica, sans-serif; font-size: 24px; margin-bottom: 0 !important; padding-bottom: 0; }

    #header p {color: #ffffff !important; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; font-size: 12px;  }

    h1, h2, h3, h4, h5, h6 {margin: 0 0 0.8em 0;}

    h3 {font-size: 28px; color: #444444 !important; font-family: Arial, Helvetica, sans-serif; }

    h4 {font-size: 22px; color: #4A72AF !important; font-family: Arial, Helvetica, sans-serif; }

    h5 {font-size: 18px; color: #444444 !important; font-family: Arial, Helvetica, sans-serif; }

    p {font-size: 16px; color: #444444 !important; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; line-height: 1.5;}

   </style>

</head>



<body>



<table width="100%" cellpadding="0" cellspacing="0" bgcolor="e4e4e4"><tr><td>



<table id="top-message" cellpadding="20" cellspacing="0" width="600" align="center">

        <tr>

            <td align="center">


            </td>

        </tr>

    </table><!-- top message -->



<table id="main" width="600" align="center" cellpadding="0" cellspacing="15" bgcolor="ffffff">

        <tr>

            <td>

                <table id="header" cellpadding="10" cellspacing="0" align="center" bgcolor="111111">
                    <tr>
                        {% if request %}
                         <td width="570px">  <a href="{{ request.scheme }}://{{ request.get_host }}"><img src="{{ request.scheme }}://{{ request.get_host }}{% static 'site_settings/img/logo2.png' %}' %}" alt="Logo" /></a></td>
                        {% else %}
                        <td width="570px">  <a href="{{ protocol }}://{{ domain }}"><img src="{{ protocol }}://{{ domain }}{% static 'site_settings/img/logo2.png' %}' %}" alt="Logo" /></a></td>
                        {% endif %}
                    </tr>
                </table>
            </td>
        </tr>
        <tr>

            <td></td>

        </tr>

        <tr>

            <td>

                <table id="content-1" cellpadding="0" cellspacing="0" align="center">

                    <tr>

                        <td width="570"><h3>{% block subject %}{% endblock %}</h3></td>

                    </tr>

                </table><!-- content-2 -->

            </td>

        </tr><!-- content-2 -->

        <tr>

            <td>

                <table id="content-2" cellpadding="0" cellspacing="0" align="center" style="padding-bottom: 20px;">

                    <tr>

                        <td width="570"><p>{% block content %}{% endblock %}</p></td>

                    </tr>

                </table><!-- content-2 -->

            </td>

        </tr><!-- content-2 -->

        <tr>

            <td>

                <table id="content-22" cellpadding="0" cellspacing="0" align="center">

                    <tr>

                        <td width="570"><p>            С уважением, <br>
            администрация сайта StudWorks!</p></td>

                    </tr>

                </table><!-- content-2 -->

            </td>

        </tr><!-- content-2 -->

        <tr>

            <td height="20"></td>

        </tr>

    </table><!-- main -->

    <table id="bottom-message" cellpadding="20" cellspacing="0" width="600" align="center">

        <tr>

            <td align="center">

            </td>

        </tr>

    </table><!-- top message -->

</td></tr></table><!-- wrapper -->



</body>

</html>
