{% extends "email_templates/email_base.html" %}

{% load static humanize %}

{% block title %}Ваш заказ завершен {% endblock %}

{% block subject %}
    Ваш заказ завершен! Ждём вашего отзыва на страницах купленных товаров!
{% endblock %}

{% block content %}
    <table width="100%">
        <tr>
            <td>
                <table width="100%">
                        <tr>
                            <th align="left">Дата создания</th>
                            <td>{{ order.created }}</td>
                        </tr>
                        <tr>
                            <th align="left">Заказчик</th>
                            <td>{{ order.first_name }} {{ order.last_name }}</td>
                        </tr>
                        <tr>
                            <th align="left">E-mail</th>
                            <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
                        </tr>
                        {% if order.phone %}
                        <tr>
                            <th align="left">Телефон</th>
                            <td><a href="tel:{{ order.phone }}">{{ order.phone }}</a></td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th align="left">Адрес</th>
                            <td>{{ order.address }}, {{ order.zip_code }} {{ order.city }}</td>
                        </tr>
                        <tr>
                            <th align="left">Статус</th>
                            <td>{{ order.get_status }}</td>
                        </tr>

                        <tr>
                            <th align="left">Способ оплаты</th>
                            <td>{{ order.pay_method.name }}</td>
                        </tr>
                        <tr>
                            <th align="left">Оплата</th>
                            <td>{% if order.paid %}Оплачен{% else %}Ожидает оплаты{% endif %}</td>
                        </tr>

                        <tr>
                            <th align="left">Способ доставки</th>
                            <td>{{ order.delivery.name }} ({% if order.delivery.price > 0 %}{{ order.delivery.price }}₽{% else %} бесплатно {% endif %})</td>
                        </tr>

                        <tr>
                            <th align="left">Комментарий</th>
                            <td>{{ order.comment }}</td>
                        </tr>

                        <tr>
                            <th align="left">Стоимость товаров</th>
                            <td>{{ order.get_products_cost }}₽</td>
                        </tr>

                        <tr>
                            <th align="left">Итого</th>
                            <td>{{ order.get_total_cost }}₽</td>
                        </tr>

                        <tr>
                            <th align="left">
                                <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'orders:order_detail' order.id %}">Просмотреть заказ</a>
                            </th>
                        </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
        <table>
                <tr><td height="30" colspan="2"></td></tr>
                <tr><td><h5>Список заказанных товаров:</h5></td></tr>
            </table>
            </td>
        </tr>

<tr width="100%">
    <td width="100%">
        <table width="100%">
                <thead>
                    <tr>
                        <th align="left">Товар</th>
                        <th align="left">Цена</th>
                        <th align="left">Кол-во</th>
                        <th align="left">Итого</th>
                    </tr>
                                    <tr><td height="1px" bgcolor="000000" colspan="4"></td></tr>

                </thead>
                <tbody>
                {% for item in order.items.all %}
                    <tr bgcolor="{% cycle 'eeeeee' 'ffffff' %}">
                        <td><a href="{{ request.scheme }}://{{ request.get_host }}{% url 'shop:product' item.product.slug %}">{{ item.product.name }}</a></td>
                        <td class="num">{{ item.price }}₽</td>
                        <td class="num">{{ item.quantity }}</td>
                        <td class="num">{{ item.get_cost }}₽</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr><td height="1px" bgcolor="000000" colspan="4"></td></tr>
                    <tr>
                        <td colspan="3"><strong>Итого</strong></td>
                        <td class="num"><strong>{{ order.get_products_cost }}₽</strong></td>
                    </tr>
                </tfoot>
        </table>
    </td>
</tr>



    </table>
{% endblock %}

