{% extends "email_templates/email_base.html" %}

{% load static humanize %}

{% block title %}Восстановление пароля {% endblock %}

{% block subject %}
    Восстановление пароля!
{% endblock %}

{% block content %}
    <table width="100%">
        <tr>
            <td>
                <table>
                    <tr><td><p>Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте {{ domain }}, которая связана с этим адресом электронной почты</p></td></tr>
                    <tr><td><p></p></td></tr>
                    <tr><td><p>Пожалуйста, перейдите на эту страницу и введите новый пароль:</p></td></tr>
                    <tr><td><p></p></td></tr>
                    <tr><td><p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p></td></tr>
                    <tr><td><p></p></td></tr>
                    <tr><td><p>Ваше логин, если вы забыли:  {{ user.get_username }}</p></td></tr>
                    <tr><td><p></p></td></tr>
                    <tr><td><p>Спасибо, что используете наш сайт!</p></td></tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}

