{% extends "email_templates/email_base.html" %}

{% load static humanize %}

{% block title %}Успешная регистрация на сайте {% endblock %}

{% block subject %}
    Успешная регистрация на сайте!
{% endblock %}

{% block content %}
    <table width="100%">
        <tr>
            <td>
                <table>
                    <tr><td height="30" colspan="2"></td></tr>
                    <tr><td><h5>Спасибо за регистрацию учётной записи в StudWorks! Вы можете увидеть свои заказы в своем профиле!</h5></td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr><td><a href="{{ request.scheme }}://{{ request.get_host }}">Вперед за покупками</a></td></tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}

