{% extends "email_templates/email_base.html" %}

{% load static humanize %}

{% block title %}Успешная публикация отзыва на сайте {% endblock %}

{% block subject %}
    Ваш отзыв опубликован на сайте!
{% endblock %}

{% block content %}
    <table width="100%">
        <tr>
            <td>
                <table>
                    <tr><td><h5>Отзыв о товаре <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'shop:product' review.product.slug %}">{{ review.product.name }}</a></h5></td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <th align="left">Оценка:</th>
                        <td>{{ review.rate }}/5</td>
                    </tr>
                    <tr>
                        <th align="left">Текст отзыва:</th>
                        <td><p>{{ review.text }}</p></td>
                    </tr>
                      <tr>
                        <td height="20"></td>
                      </tr>

                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table>
                    <tr><td><a href="{{ request.scheme }}://{{ request.get_host }}">Продолжить покупки</a></td></tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}

