{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Авторизация - {% endblock %}

{% block content %}
<div class="container my-5">
            <div class="row">

                <div class="col-6 mx-auto ">

                    <div class="block sidebar">
                        <form action="{% url 'profile:login' %}" method="post">
                            {% csrf_token %}
                        <div class="mr-auto bd-highlight block-title text-center">Вход</div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Электронная почта</span>
                            </div>
                            <div class="filter-body pt-0">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control input-style" required>
                                </div>
                            </div>
                            <div class="filter-title">
                                <span>Пароль</span>
                            </div>
                            <div class="filter-body pt-0">
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control input-style" >
                                </div>
                            </div>
                            <div class="filter-body pt-5">
                                <div class="form-group">
                                    <div class="vacancy-item-stats text-center">
                                        <a href="{% url 'password_reset' %}">Забыл пароль</a>
                                        <div class="filter-body ">
                                            <div class="form-group">
                                                    <input type="submit" class="btn full-btn text-white" value="Войти">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}


