
{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Восстановление пароля {% endblock %}

{% block content %}
<div class="breadcrumb-box">
        <div class="container container-wide">
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li class="current"><a href="product-category.html">Восстановление пароля</a></li>
                </ul>
            </div>
        </div>


    </div>
    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="cart-page-content-wrap">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Checkout Form Area Start -->
                        <div class="checkout-billing-details-wrap my-5">
                            <h2>Восстановление пароля</h2>
                            <div class="billing-form-wrap">
                                <form method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Для восстановления пароля введите ваш почтовый ящик, на него будут высланы инструкции</p>

                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <button type="submit" class="btn btn-red my-4">Восстановить</button>
                                        </div>



                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


