{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Восстановление пароля {% endblock %}

{% block content %}
<div class="breadcrumb-box">
        <div class="container container-wide">
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li class="current"><a href="/">Создание нового пароля</a></li>
                </ul>
            </div>
        </div>


    </div>
    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="cart-page-content-wrap">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Checkout Form Area Start -->
                        <div class="checkout-billing-details-wrap my-5">
                            {% if validlink %}
                            <h2>Введите новый пароль</h2>
                            <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания</p>
                            <div class="billing-form-wrap">
                                <form method="post">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8">
                            <fieldset class="module aligned">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="form-row field-password1">
                                            {{ form.new_password1.errors }}
                                            <div><label for="id_new_password1">Новый пароль:</label></div>
                                            {{ form.new_password1 }}
                                        </p>
                                        </div>
                                    <div class="col-md-6">
                                        <p class="form-row field-password2">
                                            {{ form.new_password2.errors }}
                                            <div><label for="id_new_password2">Подтвердите пароль:</label></div>
                                            {{ form.new_password2 }}
                                        </p>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-red my-4">Изменить мой пароль</button>
                            </fieldset>
                                                                                    </div>



                                    </div>
                            </form>

                            </div>

                            {% else %}

                            <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>

                            {% endif %}



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



