{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Восстановление пароля {% endblock %}

{% block content %}
<div class="breadcrumb-box">
        <div class="container container-wide">
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li class="current"><a href="/">Создание нового пароля</a></li>
                </ul>
            </div>
        </div>


    </div>
    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="cart-page-content-wrap">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Checkout Form Area Start -->
                        <div class="checkout-billing-details-wrap my-5">

                            <p>Ваш пароль был сохранен. Теперь вы можете войти.</p>

                            <p><a class="btn btn-red my-4" href="#reg-log" data-toggle="modal" data-target="#reg-log">Войти</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



