{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Восстановление пароля {% endblock %}

{% block content %}
<div class="breadcrumb-box">
        <div class="container container-wide">
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li class="current"><a href="/">Восстановление пароля</a></li>
                </ul>
            </div>
        </div>


    </div>
    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="cart-page-content-wrap">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Checkout Form Area Start -->
                        <div class="checkout-billing-details-wrap my-5">
                            <h2>Письмо с инструкциями по восстановлению пароля отправлено</h2>

                            <p>Мы отправили вам по электронной почте инструкции по установке пароля, если существует учетная запись с введенным вами
                                электронным письмом. Вы должны получить их в ближайшее время.</p>

                            <p>Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, на который зарегистрировались, и
                                проверьте свою папку спама.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



