{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Профиль - {% endblock %}

{% block content %}
<div class="container">
            <div class="row">
                <div class="col-4">
                    <aside class="content-wrapper__sidebar content-wrapper__sidebar--left">
                        <div class="block sidebar p-3">
                            <div class="section user_info">
                                <a class="avatar" href="Profile.html">
                                    <img alt="baidalov" src="{% static 'site_settings/img/Profiles/medium_edd6cd305a56a3f4a23dbf6a108762a0.jpg' %}">
                                </a>
                                <div class="user_name">
                                    <a href="Profile.html">Александр Астрелин</a>
                                </div>
                                <div class="profession">Магистрант вуза</div>
                                <div class="profession">Алматинский университет энергетики и связи</div>
                                <div class="homepage"></div>
                                <div class="statistics">
                                    <a class="row" href="#">
                                        <div class="label">Сертификатов</div>
                                        <div class="count followers_count_1000371554">12</div>
                                    </a>
                                    <a class="row" href="#">
                                        <div class="label">Опыт работы</div>
                                        <div class="count followers_count_1000371554">2 года</div>
                                    </a>
                                    <a class="row" href="#">
                                        <div class="label">Курсов пройдено</div>
                                        <div class="count followers_count_1000371554">15</div>
                                    </a>
                                    <a class="row" href="#">
                                        <div class="label">Участия в мероприятиях</div>
                                        <div class="count followers_count_1000371554">3</div>
                                    </a>
                                    <a class="row" href="#">
                                        <div class="label">Рекомендательные письма</div>
                                        <div class="count reviews_count_1000371554">2</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-8">
                    <div class="content-wrapper__main content-wrapper__main--right">
                        <div class="sections" id="profiles">
                            <div class="section block">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#AboutMeTabBody" role="tab" aria-controls="home" aria-selected="true">Обо мне</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#sertifTabBody" role="tab" aria-controls="contact" aria-selected="false">Сертификаты</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#eduTabBody" role="tab" aria-controls="profile" aria-selected="false">Образование</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#workTabBody" role="tab" aria-controls="contact" aria-selected="false">Опыт работы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#activTabBody" role="tab" aria-controls="contact" aria-selected="false">Активность</a>
                                    </li>
                                  </ul>
                                  <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="AboutMeTabBody" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="my-2">
                                            <div class="body my-3 vac-desc-section">
                                                <p>Привет! Я веб-разработчик, специализирусь на десктопных ПО и мобильных приложениях. Я работал над проектами Аэрофлот, Инград, ЦОДД, это внутренние сервисы для сотрудником самих компаний.</p>
                                                <p>Опыт работы у мен 2 года. Работаю в группе фрилансеров Argument Digital Agency.</p>
                                                <p>Я люблю программировать и хочу развиваться.  Последние 2 года нахожусь в небольшой компании, состоящей из 5 человек. Занимаемся разработкой сайтов, а в последнее время и мобильных приложений. Имею опыт работы с такими фреймворками Django, Vue.js и с недавних пор - Flutter. Готов работать и изучать новые технологии.</p>
                                                <p>Если вы интересуетесь сотрудничеством со мной, то я всегда открыт к общению и обсуждению проектов..</p>
                                            </div>
                                        </div>
                                            <div class="my-2">
                                                <div class="head">
                                                    <div class="title">Навыки</div>
                                                </div>
                                                <div class="body">
                                                    <div class="vac-info-block">

                                                        <div class="req-skill mt-2">
                                                            <span class="d-none">Навыки:</span>
                                                            <a href="#">Тайм-менеджмент</a>
                                                            <a href="#">Управление проектом</a>
                                                            <a href="#">Успеваемость</a>
                                                            <a href="#">Работа в команде</a>
                                                            <a href="#">Планирование проекта</a>
                                                            <a href="#">Нетворкинг</a>
                                                            <a href="#">Серверное программирование</a>
                                                            <a href="#">JavaScript</a>
                                                            <a href="#">Node.js</a>
                                                            <a href="#">React.js</a>
                                                            <a href="#">GraphQL</a>
                                                            <a href="#">HTML</a>
                                                            <a href="#">CSS</a>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                            <div class="my-2">
                                                <div class="head">
                                                    <div class="title">Личные качества</div>
                                                </div>
                                                <div class="body">
                                                    <div class="my-3 vac-desc-section">
                                                        <p>Внимательность, вежливость, дисциплинированность, ориентированность на достижение цели, способность быстро принимать решения, стрессоустойчивость, стремление к самосовершенствованию, развитию, творческий подход к поставленным задачам, </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="head">
                                                    <div class="title">Цель и стремления</div>
                                                </div>
                                                <div class="body">
                                                    <div class="my-3 vac-desc-section">
                                                        <p>Постигать таинства программирования и стать мастером своего дела</p>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                    <div class="tab-pane fade" id="sertifTabBody" role="tabpanel" aria-labelledby="contact-tab">
                                        <div class="body">
                                            <div class="vac-item ml-0">
                                                <div class="ser-thumb">
                                                    <a type="button"  href="#" class="ser-thumb-img"  data-toggle="modal" data-target="#serModal1">
                                                        <img src="{% static 'site_settings/img/sertif/2020-05-05_01-05-09.png' %}" alt="">
                                                    </a>
                                                    <div class="modal fade bd-example-modal-lg" id="serModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                          <div class="modal-content">
                                                              <img src="{% static 'site_settings/img/sertif/2020-05-05_01-05-09.png' %}" alt="">
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vac-info">
                                                <div class="vac-name">
                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">1 Место на HackDay 2020</a>
                                                </div>

                                                <div class="vac-company-info">
                                                    <a href="#">Hackday</a>
                                                    <a href="#">Хакатон</a>

                                                </div>

                                                <div class="vac-info-block">

                                                    <div class="req-skill mt-2">
                                                        <span class="d-none">Навыки:</span>
                                                        <a href="#">Тайм-менеджмент</a>
                                                        <a href="#">Работа в команде</a>
                                                        <a href="#">HTML</a>
                                                        <a href="#">CSS</a>
                                                        <a href="#">Javascript</a>


                                                    </div>



                                                </div>
                                                </div>
                                            </div>
                                            <div class="vac-item ml-0">
                                                <div class="ser-thumb">
                                                    <a type="button"  href="#" class="ser-thumb-img"  data-toggle="modal" data-target="#serModal2">
                                                        <img src="{% static 'site_settings/img/sertif/c8c131e68d2d01c48baf8782b2dc09f0-ppage1000s.jpg' %}" alt="">
                                                    </a>
                                                    <div class="modal fade bd-example-modal-lg" id="serModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                          <div class="modal-content">
                                                              <img src="{% static 'site_settings/img/sertif/c8c131e68d2d01c48baf8782b2dc09f0-ppage1000s.jpg' %}" alt="">
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vac-info">
                                                <div class="vac-name">
                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "JavaScript-программирования"</a>
                                                </div>

                                                <div class="vac-company-info">
                                                    <a href="#">Getcourse</a>
                                                    <a href="#">Курс</a>

                                                </div>

                                                <div class="vac-info-block">

                                                    <div class="req-skill mt-2">
                                                        <span class="d-none">Навыки:</span>
                                                        <a href="#">JavaScript</a>
                                                        <a href="#">Node.js</a>
                                                        <a href="#">React.js</a>
                                                        <a href="#">GraphQL</a>
                                                        <a href="#">HTML</a>
                                                        <a href="#">CSS</a>


                                                    </div>



                                                </div>
                                                </div>
                                            </div>
                                            <div class="vac-item ml-0">
                                                <div class="ser-thumb">
                                                    <a type="button"  href="#" class="ser-thumb-img"  data-toggle="modal" data-target="#serModal3">
                                                        <img src="{% static 'site_settings/img/sertif/5.jpg' %}" alt="">
                                                    </a>
                                                    <div class="modal fade bd-example-modal-lg" id="serModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                          <div class="modal-content">
                                                              <img src="{% static 'site_settings/img/sertif/5.jpg' %}" alt="">
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vac-info">
                                                <div class="vac-name">
                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Front-end - разработка"</a>
                                                </div>

                                                <div class="vac-company-info">
                                                    <a href="#">Geekbrains</a>
                                                    <a href="#">Курс</a>

                                                </div>

                                                <div class="vac-info-block">

                                                    <div class="req-skill mt-2">
                                                        <span class="d-none">Навыки:</span>
                                                        <a href="#">JavaScript</a>
                                                        <a href="#">Node.js</a>
                                                        <a href="#">React.js</a>
                                                        <a href="#">GraphQL</a>
                                                        <a href="#">HTML</a>
                                                        <a href="#">CSS</a>


                                                    </div>



                                                </div>
                                                </div>
                                            </div>
                                            <div class="vac-item ml-0">
                                                <div class="ser-thumb">
                                                    <a type="button"  href="#" class="ser-thumb-img"  data-toggle="modal" data-target="#serModal1">
                                                        <img src="{% static 'site_settings/img/sertif/___2.png' %}" alt="">
                                                    </a>
                                                    <div class="modal fade bd-example-modal-lg" id="serModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                          <div class="modal-content">
                                                              <img src="{% static 'site_settings/img/sertif/___2.png' %}" alt="">
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vac-info">
                                                <div class="vac-name">
                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Основы Node.js"</a>
                                                </div>

                                                <div class="vac-company-info">
                                                    <a href="#">Getcourse</a>
                                                    <a href="#">Курс</a>

                                                </div>

                                                <div class="vac-info-block">

                                                    <div class="req-skill mt-2">
                                                        <span class="d-none">Навыки:</span>
                                                        <a href="#">JavaScript</a>
                                                        <a href="#">Node.js</a>
                                                        <a href="#">React.js</a>
                                                        <a href="#">GraphQL</a>
                                                        <a href="#">HTML</a>
                                                        <a href="#">CSS</a>


                                                    </div>



                                                </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="eduTabBody" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="body">
                                        <div class="educations_show">
                                            <div class="educations_show">
                                                <div class="vac-item ml-0">
                                                    <div class="vac-thumb">
                                                        <div class="vac-thumb-img">
                                                            <img src="{% static 'site_settings/img/Company/AUES.jpg' %}" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="education_show no-after">
                                                        <div class="main">

                                                            <div class="meta">

                                                                <div class="institution_name" title="">
                                                                    <a href="/universities/6426">Алматинский Университет энергетики и связи</a>
                                                                </div>
                                                                <div class="vac-company-info">
                                                                    <a href="#">Бакалавриат</a>
                                                                    <a href="#">Алматы</a>
                                                                </div>
                                                                <div class="specialization">Специализация: "Автоматизация и управление"</div>
                                                                <div class="specialization">01/09/2014 - 01/06/2018</div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="educations_show">
                                                <div class="vac-item ml-0">
                                                    <div class="vac-thumb">
                                                        <div class="vac-thumb-img">
                                                            <img src="{% static 'site_settings/img/Company/IT.jpg' %}" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="education_show no-after">
                                                        <div class="main">

                                                            <div class="meta">

                                                                <div class="institution_name" title="">
                                                                    <a href="/universities/6426">Международный университет информационных технологий</a>
                                                                </div>
                                                                <div class="vac-company-info">
                                                                    <a href="#">Магистратура</a>
                                                                    <a href="#">Алматы</a>
                                                                </div>
                                                                <div class="specialization">Специализация: "Автоматизация и управление"</div>
                                                                <div class="specialization">01/09/2018 - 01/06/2020</div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="workTabBody" role="tabpanel" aria-labelledby="contact-tab">
                                        <div class="body">
                                            <div class="vac-item ml-0">
                                                <div class="vac-thumb">
                                                    <div class="vac-thumb-img">
                                                        <img src="{% static 'site_settings/img/Company/workzilla.png' %}" alt="">
                                                    </div>
                                                </div>
                                                <div class="vac-info">
                                                <div class="vac-name">
                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Фрилансер</a>
                                                </div>

                                                <div class="vac-company-info">
                                                    <a href="#">WorkZilla</a>
                                                    <a href="#">Алматы</a>
                                                    <a href="#">Фриланс</a>

                                                </div>
                                                <div class="vac-company-info">
                                                    <span>13/02/2018</span>-<span>13/02/2020</span>

                                                </div>

                                                <div class="vac-info-block">

                                                    <div class="req-skill mt-2">
                                                        <span class="d-none">Навыки:</span>
                                                        <a href="#">Тайм-менеджмент</a>
                                                        <a href="#">Нетворкинг</a>
                                                        <a href="#">JavaScript</a>
                                                        <a href="#">Node.js</a>
                                                        <a href="#">React.js</a>
                                                        <a href="#">GraphQL</a>
                                                        <a href="#">HTML</a>
                                                        <a href="#">CSS</a>
                                                    </div>



                                                </div>
                                                </div>
                                            </div>
                                            <div class="vac-item ml-0">
                                                <div class="vac-thumb">
                                                    <div class="vac-thumb-img">
                                                        <img src="{% static 'site_settings/img/Company/Choko.png' %}" alt="">
                                                    </div>


                                                </div>
                                                <div class="vac-info">
                                                <div class="vac-name">
                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Front-end разработчик</a>
                                                </div>

                                                <div class="vac-company-info">
                                                    <a href="#">Chokofamily</a>
                                                    <a href="#">Алматы</a>
                                                    <a href="#">Стажировка</a>

                                                </div>
                                                <div class="vac-company-info">
                                                    <span>13/02/2018</span>-<span>13/02/2020</span>

                                                </div>

                                                <div class="vac-info-block">

                                                    <div class="req-skill mt-2">
                                                        <span class="d-none">Навыки:</span>
                                                        <a href="#">JavaScript</a>
                                                        <a href="#">Node.js</a>
                                                        <a href="#">React.js</a>
                                                        <a href="#">GraphQL</a>
                                                        <a href="#">HTML</a>
                                                        <a href="#">CSS</a>


                                                    </div>



                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="activTabBody" role="tabpanel" aria-labelledby="contact-tab">
                                        <div">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#curseTabBody" role="tab" aria-controls="home" aria-selected="true">Курсы</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#eventsTabBody" role="tab" aria-controls="contact" aria-selected="false">События</a>
                                                </li>

                                              </ul>
                                              <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="curseTabBody" role="tabpanel" aria-labelledby="home-tab">
                                                    <div class="tab-pane-item">
                                                        <div class="body">
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-type">
                                                                    Подтверждено сертификатом
                                                                </div>
                                                                <div class="vac-name">
                                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "JavaScript. Уровень 1"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="#">Geekbrains</a>
                                                                    <a href="#">онлайн-курс</a>
                                                                    <a href="#">Сертификат</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <span class="d-none">Навыки:</span>
                                                                        <a href="#">JavaScript</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-type">
                                                                    Подтверждено сертификатом
                                                                </div>
                                                                <div class="vac-name">
                                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Node.js"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="#">Geekbrains</a>
                                                                    <a href="#">онлайн-курс</a>
                                                                    <a href="#">Сертификат</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <span class="d-none">Навыки:</span>
                                                                        <a href="#">Серверное программирование</a>
                                                                        <a href="#">Node.js</a>
                                                                        <a href="#">JavaScript</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Company/coursera.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-type">
                                                                    Подтверждено сертификатом
                                                                </div>
                                                                <div class="vac-name">
                                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Тайм-менеджмент"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="#">Coursera</a>
                                                                    <a href="#">Курс</a>
                                                                    <a href="#">Сертификат</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <span class="d-none">Навыки:</span>
                                                                        <a href="#">Тайм-менеджмент</a>
                                                                        <a href="#">Управление проектом</a>
                                                                        <a href="#">Успеваемость</a>
                                                                        <a href="#">GraphQL</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Company/Getcourse.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-name">
                                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Коммуникация в команде"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="#">Coursera</a>
                                                                    <a href="#">Онлайн-курс</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <span class="d-none">Навыки:</span>
                                                                        <a href="#">Коммуникабельность</a>
                                                                        <a href="#">Нетворкинг</a>
                                                                        <a href="#">Управление командой</a>
                                                                        <a href="#">Планирование проектов</a>
                                                                        <a href="#">Trello</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="division-picker__show-all">
                                                                <button type="button" class="btn px-3">Ещё 11</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="eventsTabBody" role="tabpanel" aria-labelledby="contact-tab">
                                                    <div class="tab-pane-item">
                                                        <div class="body">
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Events/hqdefault.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-name">
                                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Хакатон "Hack-day 2020"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="#">Алматы</a>
                                                                    <a href="#">Хакатон</a>
                                                                    <a href="#">05.05.2020</a>
                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <a href="#">Тайм-менеджмент</a>
                                                                        <a href="#">проектирование</a>
                                                                        <a href="#">Javascript</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Events/calendar-flat-icon-01-.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-name">
                                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Конференция "Clean-code"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="#">Алматы</a>
                                                                    <a href="#">Конференция</a>
                                                                    <a href="#">Сертификат</a>
                                                                    <a href="#">05.09.2018</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <span class="d-none">Навыки:</span>
                                                                        <a href="#">"Чистый код"</a>
                                                                        <a href="#">JavaScript</a>
                                                                        <a href="#">Python</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Events/hqdefault.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-name">
                                                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Хакатон "Hack-day 2018"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="#">Алматы</a>
                                                                    <a href="#">Хакатон</a>
                                                                    <a href="#">05.05.2020</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <a href="#">Тайм-менеджмент</a>
                                                                        <a href="#">проектирование</a>
                                                                        <a href="#">Javascript</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                              </div>
                                            </div>




                                    </div>
                                  </div>
                                </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}


