{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Регистрация - {% endblock %}

{% block content %}
<div class="container my-5">
            <div class="row">

                <div class="col-6 mx-auto ">

                    <div class="block sidebar">


                        <div class="mr-auto bd-highlight block-title text-center">Регистрация</div>

                        <div class="section block">
                            <ul class="nav nav-tabs d-flex row" id="myTab" role="tablist">
                                <li class="nav-item text-center col">
                                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#regStudentTab" role="tab" aria-controls="home" aria-selected="true">Студент</a>
                                </li>
                                <li class="nav-item text-center w-50 col">
                                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#regCompSpecTab" role="tab" aria-controls="contact" aria-selected="false">Сотрудник компании</a>
                                </li>
                              </ul>
                              <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="regStudentTab" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="body">
                                        <form action="{% url 'profile:registration' %}" method="post">
                                        {% csrf_token %}
                                        <div class="filter-item mt-3">
                                            <div class="filter-title">
                                                <span>Электронная почта</span>
                                            </div>
                                            <div class="filter-body pt-0">
                                                <div class="form-group">
                                                    <input type="text" name="email" class="form-control input-style" required>
                                                </div>
                                            </div>
                                            <div class="filter-title">
                                                <span>Учебное заведение</span>
                                            </div>
                                            <div class="filter-body pt-0">
                                                <div class="form-group">
                                                    <select name="organization" onchange="if($(this).val() == 'None') $('#university_custom').show(); else $('#university_custom').hide()" class="form-control search-select select-style" required>
                                                        {% for item in universities %}
                                                            <option>{{ item.name }}</option>
                                                        {% endfor %}
                                                        <option value="None">Нет моего учебного заведения</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div id="university_custom" {% if universities %}style="display:none;"{% endif %}>
                                                <div class="filter-title">
                                                    <span>Полное название университета</span>
                                                </div>
                                                <div class="filter-body pt-0">
                                                    <div class="form-group">
                                                        <input type="text" name="organization-custom" class="form-control input-style">
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="filter-title">
                                                <span>Пароль</span>
                                            </div>
                                            <div class="filter-body pt-0">
                                                <div class="form-group">
                                                    <input type="password" name="password" class="form-control input-style" required>
                                                </div>
                                            </div>
                                            <div class="filter-title">
                                                <span>Подтвердите пароль</span>
                                            </div>
                                            <div class="filter-body pt-0">
                                                <div class="form-group">
                                                    <input type="password" name="password-check" class="form-control input-style" required>
                                                </div>
                                            </div>
                                            <div class="filter-body pt-5">
                                                <div class="form-group">
                                                    <div class="vacancy-item-stats">
                                                        <input type="submit" name="student" value="Регистрация" class="btn full-btn text-white">
                                                     </div>
                                                </div>
                                            </div>

                                        </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="regCompSpecTab" role="tabpanel" aria-labelledby="contact-tab">
                                    <div class="body">
                                        <form action="{% url 'profile:registration' %}" method="post">
                                        {% csrf_token %}
                                        <div class="filter-item mt-3">
                                            <div class="filter-title">
                                                <span>Электронная почта</span>
                                            </div>
                                            <div class="filter-body pt-0">
                                                <div class="form-group">
                                                    <input type="email" name="email" class="form-control input-style" required>
                                                </div>
                                            </div>
                                            <div class="filter-title">
                                                <span>Компания</span>
                                            </div>
                                            <div class="filter-body pt-0">
                                                <div class="form-group">
                                                    <select name="organization" class="form-control search-select select-style" onchange="if($(this).val() == 'None') $('#company-bin').show(); else $('#company-bin').hide()" required>
                                                        {% for item in companies %}
                                                            <option value="{{ item.bin }}">{{ item.name }}</option>
                                                        {% endfor %}
                                                        <option value="None">Нет моей компании</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="company-bin"  {% if companies %}style="display:none;"{% endif %}>
                                            <div class="filter-title">
                                                <span>БИН компании</span>
                                            </div>
                                            <div class="filter-body pt-0">
                                                <div class="form-group">
                                                    <input type="text" name="organization-custom" class="form-control input-style">
                                                </div>
                                            </div>

                                            </div>


                                            <div class="filter-title">
                                                <span>Пароль</span>
                                            </div>
                                            <div class="filter-body pt-0">
                                                <div class="form-group">
                                                    <input type="password" name="password" class="form-control input-style" required>
                                                </div>
                                            </div>
                                            <div class="filter-title">
                                                <span>Подтвердите пароль</span>
                                            </div>
                                            <div class="filter-body pt-0">
                                                <div class="form-group">
                                                    <input type="password" name="password-check" class="form-control input-style" required>
                                                </div>
                                            </div>
                                            <div class="filter-body pt-5">
                                                <div class="form-group">
                                                    <div class="vacancy-item-stats">
                                                        <input type="submit" name="company" value="Регистрация" class="btn full-btn text-white">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        </form>
                                    </div>
                                </div>
                              </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


