{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Проблема с авторизацией{% endblock %}

{% block content %}

<div class="breadcrumb-box">
        <div class="container container-wide">
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li class="current"><a href="{% url 'profile:profile' %}">Проблема авторизации</a></li>
                </ul>
            </div>
        </div>


    </div>

    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y my-5">
        <div class="cart-page-content-wrap">
            <div class="container container-wide block p-3 mb-4">
                    <h4>Проблема с авторизацией! Вы не вошли в свой профиль!</h4>
            </div>
        </div>
    </div>

{% endblock %}


