<!DOCTYPE html>
<html lang="ru">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %} StudWorks - сервис по поиску практики</title>

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700%7CPoppins:400,400i,500,600&display=swap" rel="stylesheet">


    <link href="{% static 'site_settings/css/slicknav.min.css' %}" rel="stylesheet" />
    <link href="{% static 'site_settings/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'site_settings/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'site_settings/css/style.css' %}" rel="stylesheet" />

    {% block extra_head %}
    {# Для вставки head на отдельно со страницы #}
    {% endblock %}
</head>


<body>

 <header class="header-area">

        <div class="header-top">
            <div class="container  ">
                <nav class="navbar-expand-lg navbar-dark">
                    <div class="d-flex bd-highlight">
                        <div class="nav-item mr-auto p-2 bd-highlight">
                            <div class="site-logo">
                                <a href="/" class="logo"><span class="stud-span">Stud</span><span class="works-span">Works</span> </a>
                            </div>
                        </div>
                        <div class="nav-item p-2 bd-highlight">
                            <a class="nav-link" href="info_page.html">Помощь</a>
                        </div>
                        <div class="nav-item p-2 bd-highlight">
                            <a class="nav-link" href="info_page.html">Работодателям</a>
                        </div>
                        <div class="nav-item  p-2 bd-highlight">
                            <a class="nav-link" href="info_page.html">Студентам</a>
                        </div>
                      <div class="nav-item  p-2 bd-highlight">
                            <a class="nav-link" href="{% url 'api:api_index' %}">Разработчикам</a>
                        </div>
                      </div>
                </nav>

            </div>
        </div>
        <div class="header-middle">
            <div class="container  ">
                <nav class="navbar navbar-expand-lg px-0 navbar-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'internship:vacancy' %}">Вакансии</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'internship:companies' %}">Компании</a>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'internship:courses' %}">Курсы</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'internship:students' %}">Студенты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'internship:events' %}">События</a>
                        </li>
                      </ul>
                      <form class="form-inline">
                          {% if request.user.is_authenticated %}
                            <a class="btn reg-btn text-white" href="{% url 'profile:logout' %}">Выйти</a>
                          {% else %}
                            <a class="btn log-btn" href="{% url 'profile:login' %}">Войти</a>
                            <a class="btn reg-btn text-white" href="{% url 'profile:registration' %}">Регистрация</a>
                          {% endif %}
                      </form>
                    </div>
                </nav>
            </div>
        </div>
    </header>
<main>
    {% block content %}{% endblock %}
</main>
<!--== Start Footer Area Wrapper ==-->
    <footer class="footer-area">
        <div class="footer-widget-area">
            <div class="container  ">
                <div class="row mtn-40">
                    <div class="col-lg-6">
                        <div class="widget-item">

                            <div class="about-widget">
                                <div class="site-logo mb-2 mtop-minus-1">
                                    <a href="index.html" class="logo mb-3"><span class="stud-span">Stud</span><span class="works-span">Works</span> </a>
                                </div>
                                <p>Мечтаете о головокружительной карьере? Начинать никогда не рано! Стажировка для студентов или производственная практика — отличный старт. И хотя скептики говорят, что без опыта нет работы, а без работы нет опыта, мы знаем, как разорвать этот порочный круг. Вы научитесь видеть свои профессиональные возможности, планировать карьеру, а по окончании вуза найдете лучшую для себя работу по специальности.Не ждите получения диплома — начинайте прямо сейчаc!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-2">
                        <div class="widget-item">
                            <h4 class="widget-title">Страницы</h4>
                            <div class="widget-body">
                                <ul class="widget-list">
                                    <li>
                                        <a href="{% url 'internship:vacancy' %}">Вакансии</span></a>
                                      </li>
                                      <li>
                                          <a href="{% url 'internship:companies' %}">Компании</a>
                                        </li>
                                      <li>
                                        <a href="{% url 'internship:courses' %}">Курсы</a>
                                      </li>
                                      <li>
                                        <a href="{% url 'internship:students' %}">Студенты</a>
                                      </li>
                                      <li>
                                          <a href="{% url 'internship:events' %}">События</a>
                                      </li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-6 col-lg-3">
                        <div class="widget-item">
                            <h4 class="widget-title">Помощь</h4>
                            <div class="widget-body">
                                <ul class="widget-list">
                                    <li>
                                        <a href="#">Ссылка</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Ccылка</a>
                                    </li>
                                </ul>
                                <address>
                                    2020 Алматы, Казахстан <br>
                                https://Studworks.kz <br>
                                8 (800) 555 35 35                            </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="copyright-content">
                            <p>Copyright © 2019 StudWorks. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!--== End Footer Area Wrapper ==-->

<!-- Scroll Top Button -->

    <script src="{% static 'site_settings/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'site_settings/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'site_settings/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'site_settings/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'site_settings/js/slick.min.js' %}"></script>
    <script src="{% static 'site_settings/js/popper.min.js' %}"></script>
    <script src="{% static 'site_settings/js/active.js' %}"></script>

</body>
</html>