{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Компании - {% endblock %}

{% block content %}
<div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="block">
                        <div class="block-section ">
                            <div class="d-flex bd-highlight mb-3 block-nav-title">
                                <div class="mr-auto py-2 bd-highlight block-title">Компании</div>

                              </div>
                              <form action="#" method="post" novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control search-input input-style" aria-label="search-input" placeholder="Найти...">
                                    <div class="input-group-append">
                                            <select class="form-control search-select select-style" id="exampleFormControlSelect1">
                                                <option>Все категории</option>
                                                <option>Компании</option>
                                                <option>Учреждения образования</option>
                                                <option>События</option>
                                                <option>Студенты</option>
                                                <option>Специалисты</option>
                                            </select>

                                    </div>

                                </div>
                            </form>
                            <div class="search-count">
                                Найдено 124 компании

                            </div>
                        </div>
                        <div class="product-wrapper product-layout layout-grid px-3">
                            <div class="row mx-0">


                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/Choko.png' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                         Компания
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:company_detail' '1' %}">ChokoFamily</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Алматы</a>
                                        <a href="{% url 'internship:company_detail' '1' %}">13 вакансии</a>
                                    </div>


                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">

                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>

                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                         Онлайн-школа
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:company_detail' '1' %}">Geekbrains</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Москва</a>
                                        <a href="{% url 'internship:company_detail' '1' %}">9 курсов</a>
                                    </div>


                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">

                                            <a href="#">Онлайн-школа</a>
                                            <a href="#">Информационные технологии</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/kaspi.png' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                         Компания
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:company_detail' '1' %}"> Каспи банк </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Алматы</a>
                                        <a href="{% url 'internship:company_detail' '1' %}">7 вакансии</a>
                                    </div>


                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">Финансы</a>
                                            <a href="#">Банковское дело</a>
                                            <a href="#">Администрирование</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/platonus.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                         Компания
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:company_detail' '1' %}"> Platonus</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Алматы</a>
                                        <a href="{% url 'internship:company_detail' '1' %}">11 вакансии</a>
                                    </div>


                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                        </div>




                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/kaztel.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                         Компания
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:company_detail' '1' %}">Казахтелеком</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Алматы</a>
                                        <a href="{% url 'internship:company_detail' '1' %}">15 вакансии</a>
                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/yandex.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                         Компания
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:company_detail' '1' %}">Яндекс Казахстан</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Алматы</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                            <a href="#">специализация</a>
                                        </div>



                                    </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="action-bar-inner mt-30">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <nav class="pagination-wrap mb-10 mb-sm-0">
                                        <ul class="pagination">
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#"><i class="ion-ios-arrow-thin-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>

                                <div class="col-sm-6 text-center text-sm-right">
                                    <p>Показано 1–12 из 26 компаний</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="block sidebar">
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Отрасль</span>
                            </div>
                            <div class="filter-body">

                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                        <option>Информационные технологии, Интернет, связь, телеком</option>
                                        <option>Административная работа, секретариат, АХО</option>
                                        <option>Бухгалтерия, экономика и финансы</option>
                                        <option>Геология, геодезия и картография</option>
                                        <option>Дизайн, искусство, культура и развлечения</option>
                                        <option>Маркетинг, реклама, PR</option>
                                        <option>Образование и наука</option>
                                        <option>Право и юриспруденция</option>
                                        <option>Промышленность, производство</option>
                                        <option>СМИ, журналистика, издательское дело</option>
                                        <option>Сельское хозяйство</option>
                                        <option>Туризм, сервис, ресторанный бизнес</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Регион</span>
                            </div>
                            <div class="filter-body">

                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                      <option>Алматы</option>
                                      <option>Алматинская область</option>
                                      <option>Нур-Султан</option>
                                      <option>Акмолинская область</option>
                                      <option>Кызылорда</option>
                                      <option>Шымкент</option>
                                      <option>Актобе</option>
                                      <option>Атырау</option>
                                      <option>Уральск</option>
                                      <option>Караганда</option>
                                      <option>Семей</option>
                                      <option>Тараз</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span></span>
                            </div>
                            <div class="filter-body">

                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                      <option>Алматы</option>
                                      <option>Алматинская область</option>
                                      <option>Нур-Султан</option>
                                      <option>Акмолинская область</option>
                                      <option>Кызылорда</option>
                                      <option>Шымкент</option>
                                      <option>Актобе</option>
                                      <option>Атырау</option>
                                      <option>Уральск</option>
                                      <option>Караганда</option>
                                      <option>Семей</option>
                                      <option>Тараз</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="block sidebar">
                        <div class="px-3">
                            <div class="mr-auto bd-highlight block-title">Популярные компании </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/yandex.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:company_detail' '1' %}"> Яндекс </a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:company_detail' '1' %}">16 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/Choko.png' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:company_detail' '1' %}">ChokoFamily</a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:company_detail' '1' %}">7 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/augel.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:company_detail' '1' %}"> Аугель Компани </a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:company_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/kaztel.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:company_detail' '1' %}"> Казахтелеком </a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:company_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/kaspi.png' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:company_detail' '1' %}">Каспи банк</a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:company_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}


