{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Название компании - {% endblock %}
<!-- TODO: заменить title -->

{% block content %}
<div class="container">
            <div class="row">
                <div class="col-4">
                    <aside class="content-wrapper__sidebar content-wrapper__sidebar--left">
                        <div class="block sidebar p-3">
                            <div class="section user_info">
                                <a class="avatar" href="Profile.html">
                                    <img alt="baidalov" src="{% static 'site_settings/img/Company/GB.jpg' %}">
                                </a>
                                <div class="user_name">
                                    <a href="Profile.html">Geekbrains</a>
                                </div>
                                <div class="profession">Один из лидеров онлайн-школ в СНГ.</div>
                                <a rel="nofollow" href="Geekbrains.com">Geekbrains.com</a>
                                <div class="homepage"></div>
                                <div class="statistics">
                                    <a class="row" href="#">
                                        <div class="label">Курсов</div>
                                        <div class="count followers_count_1000371554">12</div>
                                    </a>
                                    <a class="row" href="#">
                                        <div class="label">Выпускников на Studworks</div>
                                        <div class="count followers_count_1000371554">235</div>
                                    </a>
                                    <a class="row" href="#">
                                        <div class="subtitle text-left">Местоположение</div>
                                        <div class="address text-left text-secondary">Россия, Москва, Дербеневская наб., д. 7, стр. 9</div>
                                    </a>
                                    <a class="row" href="#">
                                        <div class="label">Мероприятия</div>
                                        <div class="count followers_count_1000371554">3</div>
                                    </a>
                                    <a class="row" href="#">
                                        <div class="label">Рекомендательные письма</div>
                                        <div class="count reviews_count_1000371554">8</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-8">
                    <div class="content-wrapper__main content-wrapper__main--right">
                        <div class="sections">
                            <div class="section block">
                                <div class="head">
                                    <div class="right"></div>
                                    <div class="title">Об организации</div>
                                </div><div class="body">
                                    <div class="about_company">
                                        <div class="description">
                                            <p><strong>Онлайн-школа  Geekbrains</strong> качественно готовит и повышает квалификацию IT-специалистов, руководителей и офисного персонала компаний.</p>
                                <p>Цель — сделать качественное IT-обучение доступным во всех регионах РФ и странах СНГ, что существенно повлияет на ускорение темпов роста информационных технологий в регионах.</p>
                                <p>Более 1500 авторизованных курсов и бизнес-тренингов по различным продуктам и направлениям:&nbsp;по продажам, менеджменту,&nbsp;финансовому менеджменту, управлению проектами.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section block">
                                <div class="head">
                                    <div class="right"></div>
                                    <div class="title">Курсы и мероприятия компании</div>
                                </div>
                                <div class="body">
                                    <div">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#curseTabBody" role="tab" aria-controls="home" aria-selected="true">Курсы</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#eventsTabBody" role="tab" aria-controls="contact" aria-selected="false">События</a>
                                                </li>

                                              </ul>
                                              <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="curseTabBody" role="tabpanel" aria-labelledby="home-tab">
                                                    <div class="tab-pane-item">
                                                        <div class="body">
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-type">
                                                                    Подтверждено сертификатом
                                                                </div>
                                                                <div class="vac-name">
                                                                    <a href="Curse_single.html">Курс "JavaScript. Уровень 1"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="curse_company.html">Geekbrains</a>
                                                                    <a href="#">онлайн-курс</a>
                                                                    <a href="#">Сертификат</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <span class="d-none">Навыки:</span>
                                                                        <a href="#">JavaScript</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-type">
                                                                    Подтверждено сертификатом
                                                                </div>
                                                                <div class="vac-name">
                                                                    <a href="Curse_single.html.html">Курс "Node.js"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="curse_company.html">Geekbrains</a>
                                                                    <a href="#">онлайн-курс</a>
                                                                    <a href="#">Сертификат</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <span class="d-none">Навыки:</span>
                                                                        <a href="#">Серверное программирование</a>
                                                                        <a href="#">Node.js</a>
                                                                        <a href="#">JavaScript</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Company/coursera.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-type">
                                                                    Подтверждено сертификатом
                                                                </div>
                                                                <div class="vac-name">
                                                                    <a href="Curse_single.html.html">Курс "Тайм-менеджмент"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="curse_company.html">Coursera</a>
                                                                    <a href="#">Курс</a>
                                                                    <a href="#">Сертификат</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <span class="d-none">Навыки:</span>
                                                                        <a href="#">Тайм-менеджмент</a>
                                                                        <a href="#">Управление проектом</a>
                                                                        <a href="#">Успеваемость</a>
                                                                        <a href="#">GraphQL</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Company/Getcourse.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-name">
                                                                    <a href="Curse_single.html.html">Курс "Коммуникация в команде"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="curse_company.html">Coursera</a>
                                                                    <a href="#">Онлайн-курс</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <span class="d-none">Навыки:</span>
                                                                        <a href="#">Коммуникабельность</a>
                                                                        <a href="#">Нетворкинг</a>
                                                                        <a href="#">Управление командой</a>
                                                                        <a href="#">Планирование проектов</a>
                                                                        <a href="#">Trello</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="division-picker__show-all">
                                                                <button type="button" class="btn px-3">Ещё 11</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="eventsTabBody" role="tabpanel" aria-labelledby="contact-tab">
                                                    <div class="tab-pane-item">
                                                        <div class="body">
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Events/hqdefault.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-name">
                                                                    <a href="Curse_single.html.html">Хакатон "Hack-day 2020"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="#">Алматы</a>
                                                                    <a href="#">Хакатон</a>
                                                                    <a href="#">05.05.2020</a>
                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <a href="#">Тайм-менеджмент</a>
                                                                        <a href="#">проектирование</a>
                                                                        <a href="#">Javascript</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Events/calendar-flat-icon-01-.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-name">
                                                                    <a href="Curse_single.html.html">Конференция "Clean-code"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="#">Алматы</a>
                                                                    <a href="#">Конференция</a>
                                                                    <a href="#">Сертификат</a>
                                                                    <a href="#">05.09.2018</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <span class="d-none">Навыки:</span>
                                                                        <a href="#">"Чистый код"</a>
                                                                        <a href="#">JavaScript</a>
                                                                        <a href="#">Python</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="vac-item">
                                                                <div class="vac-thumb">
                                                                    <div class="vac-thumb-img">
                                                                        <img src="{% static 'site_settings/img/Events/hqdefault.jpg' %}" alt="">
                                                                    </div>


                                                                </div>
                                                                <div class="vac-info">

                                                                <div class="vac-name">
                                                                    <a href="Curse_single.html.html">Хакатон "Hack-day 2018"</a>
                                                                </div>

                                                                <div class="vac-company-info">
                                                                    <a href="#">Алматы</a>
                                                                    <a href="#">Хакатон</a>
                                                                    <a href="#">05.05.2020</a>

                                                                </div>

                                                                <div class="vac-info-block">

                                                                    <div class="req-skill mt-2">
                                                                        <a href="#">Тайм-менеджмент</a>
                                                                        <a href="#">проектирование</a>
                                                                        <a href="#">Javascript</a>
                                                                        <a href="#">HTML</a>
                                                                        <a href="#">CSS</a>


                                                                    </div>



                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                              </div>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}


