{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Курсы - {% endblock %}

{% block content %}
 <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="block">
                        <div class="block-section ">
                            <div class="d-flex bd-highlight mb-3 block-nav-title">
                                <div class="mr-auto py-2 bd-highlight block-title">Курсы</div>
                                <div class="py-2 bd-highlight">
                                    <button class="btn reg-btn">
                                        Добавить курс
                                    </button>
                                </div>
                              </div>
                              <form action="#" method="post" novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control search-input input-style" aria-label="search-input" placeholder="Найти...">
                                    <div class="input-group-append">
                                            <select class="form-control search-select select-style" id="exampleFormControlSelect1">
                                                <option>Все категории</option>
                                                <option>Вакансия</option>
                                                <option>Образование</option>
                                                <option>События</option>
                                                <option>Студенты</option>
                                                <option>Специалисты</option>
                                            </select>

                                    </div>

                                </div>
                            </form>
                            <div class="search-count">
                                Найдено 124 материалов
                            </div>
                        </div>
                        <div class="product-wrapper product-layout layout-grid px-3">
                            <div class="row mx-0">


                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Онлайн-курс
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "JavaScript. Уровень 1"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Geekbrains</a>
                                        <a href="#">онлайн-курс</a>
                                        <a href="#">Сертификат</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">JavaScript</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Онлайн-курс
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Node.js"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Geekbrains</a>
                                        <a href="#">онлайн-курс</a>
                                        <a href="#">Сертификат</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">Серверное программирование</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/coursera.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Онлайн-курс
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Тайм-менеджмент"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Coursera</a>
                                        <a href="#">Курс</a>
                                        <a href="#">Сертификат</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/Getcourse.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">
                                        <div class="vac-type">
                                            Онлайн-курс
                                        </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Коммуникация в команде"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Coursera</a>
                                        <a href="#">Онлайн-курс</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">Коммуникабельность</a>
                                            <a href="#">Нетворкинг</a>
                                            <a href="#">Управление командой</a>
                                            <a href="#">Планирование проектов</a>
                                            <a href="#">Trello</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Онлайн-курс
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "JavaScript. Уровень 1"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Geekbrains</a>
                                        <a href="#">онлайн-курс</a>
                                        <a href="#">Сертификат</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">JavaScript</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Онлайн-курс
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Node.js"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Geekbrains</a>
                                        <a href="#">онлайн-курс</a>
                                        <a href="#">Сертификат</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">Серверное программирование</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/coursera.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Онлайн-курс
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Тайм-менеджмент"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Coursera</a>
                                        <a href="#">Курс</a>
                                        <a href="#">Сертификат</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/Getcourse.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">
                                        <div class="vac-type">
                                            Онлайн-курс
                                        </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Коммуникация в команде"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Coursera</a>
                                        <a href="#">Онлайн-курс</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">Коммуникабельность</a>
                                            <a href="#">Нетворкинг</a>
                                            <a href="#">Управление командой</a>
                                            <a href="#">Планирование проектов</a>
                                            <a href="#">Trello</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Онлайн-курс
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "JavaScript. Уровень 1"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Geekbrains</a>
                                        <a href="#">онлайн-курс</a>
                                        <a href="#">Сертификат</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">JavaScript</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Онлайн-курс
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Node.js"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Geekbrains</a>
                                        <a href="#">онлайн-курс</a>
                                        <a href="#">Сертификат</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">Серверное программирование</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/coursera.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Онлайн-курс
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Тайм-менеджмент"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Coursera</a>
                                        <a href="#">Курс</a>
                                        <a href="#">Сертификат</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/Getcourse.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">
                                        <div class="vac-type">
                                            Онлайн-курс
                                        </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Курс "Коммуникация в команде"</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Coursera</a>
                                        <a href="#">Онлайн-курс</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">Коммуникабельность</a>
                                            <a href="#">Нетворкинг</a>
                                            <a href="#">Управление командой</a>
                                            <a href="#">Планирование проектов</a>
                                            <a href="#">Trello</a>


                                        </div>



                                    </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="action-bar-inner mt-30">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <nav class="pagination-wrap mb-10 mb-sm-0">
                                        <ul class="pagination">
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#"><i class="ion-ios-arrow-thin-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>

                                <div class="col-sm-6 text-center text-sm-right">
                                    <p>Показано 1–12 из 124 курсов</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="block sidebar">
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Отрасль</span>
                            </div>
                            <div class="filter-body">

                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                        <option>Информационные технологии, Интернет, связь, телеком</option>
                                        <option>Административная работа, секретариат, АХО</option>
                                        <option>Бухгалтерия, экономика и финансы</option>
                                        <option>Геология, геодезия и картография</option>
                                        <option>Дизайн, искусство, культура и развлечения</option>
                                        <option>Маркетинг, реклама, PR</option>
                                        <option>Образование и наука</option>
                                        <option>Право и юриспруденция</option>
                                        <option>Промышленность, производство</option>
                                        <option>СМИ, журналистика, издательское дело</option>
                                        <option>Сельское хозяйство</option>
                                        <option>Туризм, сервис, ресторанный бизнес</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Учреждение</span>
                            </div>
                            <div class="filter-body">

                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                        <option>Все</option>
                                        <option>Geekbrains</option>
                                        <option>Getcourse</option>
                                        <option>Coursera</option>
                                        <option>Другая</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Местоположение</span>
                            </div>
                            <div class="filter-body">

                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                        <option>Все</option>
                                        <option>Geekbrains</option>
                                        <option>Getcourse</option>
                                        <option>Coursera</option>
                                        <option>Другая</option>

                                    </select>
                                </div>
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" value="">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Только онлайн
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Изучаемые навыки</span>
                            </div>
                            <div class="filter-body">

                                <section class="right">
                                    <article class="addJob">
                                        <form action="" method="post" class=" d-flex">
                                            <input type="text" class="form-control input-style" name="name" id="input_h2" required="required">
                                            <input type="submit" class="btn ml-2 p-3 reg-btn" value="+" id="add">
                                        </form>
                                    </article>
                                </section>
                                <section class="left">
                                    <article id="listJob"></article>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="block sidebar">
                        <div class="mr-auto bd-highlight block-title">Компании</div>
                        <div class="px-3">
                            <div class="vac-item">
                                <div class="vac-thumb">
                                    <div class="vac-thumb-img">
                                        <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="vac-info">
                                <div class="vac-name">
                                    <a href="{% url 'internship:vacancy_detail' '1' %}"> Geekbrains </a>
                                </div>

                                <div class="vac-company-info">
                                    <a href="#">14 курсов</a>
                                </div>

                                </div>
                            </div>
                            <div class="vac-item">
                                <div class="vac-thumb">
                                    <div class="vac-thumb-img">
                                        <img src="{% static 'site_settings/img/Company/coursera.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="vac-info">
                                <div class="vac-name">
                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Coursera</a>
                                </div>

                                <div class="vac-company-info">
                                    <a href="#">14 курсов</a>
                                </div>

                                </div>
                            </div>
                            <div class="vac-item">
                                <div class="vac-thumb">
                                    <div class="vac-thumb-img">
                                        <img src="{% static 'site_settings/img/Company/Getcourse.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="vac-info">
                                <div class="vac-name">
                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Getcourse</a>
                                </div>

                                <div class="vac-company-info">
                                    <a href="#">14 курсов</a>
                                </div>

                                </div>
                            </div>
                        </div>


                        <div class="top-border">
                                    <a href="#" class="btn full-btn">Все учреждения</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


