<!DOCTYPE html>
<html  lang="ru">
{% load static  static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>StudWorks - сервис по поиску практики</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700%7CPoppins:400,400i,500,600&display=swap" rel="stylesheet">


    <link href="{% static 'site_settings/css/slicknav.min.css' %}" rel="stylesheet" />
    <link href="{% static 'site_settings/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'site_settings/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'site_settings/css/style.css' %}" rel="stylesheet" />

</head>

<body>
    <header class="header-area">

            <div class="header-top">
                <div class="container container-wide">
                    <nav class="navbar-expand-lg navbar-dark">

                        <div class="d-flex bd-highlight">
                            <div class="nav-item mr-auto p-2 bd-highlight">
                                <a class="nav-link" href="info_page.html">Алматы</a>
                            </div>
                            <div class="nav-item p-2 bd-highlight">
                                <a class="nav-link" href="info_page.html">Помощь</a>
                            </div>
                            <div class="nav-item p-2 bd-highlight">
                                <a class="nav-link" href="info_page.html">Работодателям</a>
                            </div>
                            <div class="nav-item  p-2 bd-highlight">
                                <a class="nav-link" href="info_page.html">Студентам</a>
                            </div>
                            <div class="nav-item  p-2 bd-highlight">
                                <a class="nav-link" href="{% url 'api:api_index' %}">Разработчикам</a>
                            </div>
                          </div>
                    </nav>

                </div>
            </div>

        <div class="dashboard">
            <div class="container container-wide">
                <nav class="navbar navbar-expand-lg px-0 navbar-dark">
                    <div class="log-header">
                        <div class="site-logo">
                            <a href="/" class="logo"><span class="stud-span">Stud</span><span class="works-span">Works</span> </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'internship:vacancy' %}">Вакансии</span></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'internship:companies' %}">Компании</a>
                            </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'internship:courses' %}">Курсы</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'internship:students' %}">Студенты</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'internship:events' %}">События</a>
                          </li>

                      </ul>
                      <form class="form-inline">
                          {% if request.user.is_authenticated %}
                            <a class="btn reg-btn text-white" href="{% url 'profile:logout' %}">Выйти</a>
                          {% else %}
                            <a class="btn log-btn" href="{% url 'profile:login' %}">Войти</a>
                            <a class="btn reg-btn text-white" href="{% url 'profile:registration' %}">Регистрация</a>
                          {% endif %}
                      </form>
                    </div>
                </nav>
            </div>
            <section class="search-sec">
                <div class="container container-wide">
                        <form action="#" method="post" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-lg-9 mx-auto">
                                        <h3 class="search-label">Устрой практику своей мечты</h3>
                                        <div class="input-group">
                                            <input type="text" class="form-control search-input" aria-label="search-input" placeholder="Найти...">
                                            <div class="input-group-append">
                                                    <select class="form-control search-select" id="exampleFormControlSelect1">
                                                        <option>Все категории</option>
                                                        <option>Вакансия</option>
                                                        <option>Образование</option>
                                                        <option>События</option>
                                                        <option>Студенты</option>
                                                        <option>Специалисты</option>
                                                    </select>

                                            </div>
                                            <button class="btn btn-search" type="button" id="inputGroupFileAddon04">Найти</button>
                                        </div>

                                    </div>
                                </div>
                        </form>
                </div>
            </section>

            </div>
        </div>

    </header>
    <div class="banner-area-wrapper banner-mt mb-6">
        <div class="container container-wide">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                        <a href="{% url 'internship:vacancy' %}">
                                <div class="banner-item">

                                        <div class="banner-item__txt">
                                                <h2>Вакансии</h2>
                                                <h4>243 вакансии</h4>
                                                <h4>13 компаний</h4>
                                                <h4>27 специальностей</h4>

                                            </div>
                                </div>
                            </a>
                </div>

                <div class="col-md-6 col-lg-3">
                    <a href="{% url 'internship:courses' %}">
                        <div class="banner-item">

                            <div class="banner-item__txt">
                                <h2>Курсы</h2>
                                <h4>365 курсов</h4>
                                <h4>12 онлайн-школ</h4>
                                <h4>1230 материалов</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                        <a href="{% url 'internship:events' %}">
                            <div class="banner-item">
                                    <div class="banner-item__txt">
                                        <h2>События</h2>
                                        <h4>7 актуальных событий</h4>
                                        <h4>14 конференций</h4>
                                        <h4>2 хакатона</h4>

                                    </div>
                            </div>
                        </a>
                </div>
                <div class="col-md-6 col-lg-3">
                        <a href="{% url 'internship:students' %}">
                                <div class="banner-item">

                                        <div class="banner-item__txt">
                                                <h2>Специалисты</h2>
                                                <h4>2434 пользователей</h4>
                                                <h4>2334 студентов</h4>
                                                <h4>110 сотрудников компний</h4>

                                            </div>
                                </div>
                            </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-9 mx-auto">
                <div class="block indev mt-mnogo">
                    Страница на разработке
                </div>
            </div>
        </div>
    </div>
</body>
</html>