{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Студенты - {% endblock %}

{% block content %}
 <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="block">
                        <div class="block-section ">
                            <div class="d-flex bd-highlight mb-3 block-nav-title">
                                <div class="mr-auto py-2 bd-highlight block-title">Студенты и специалисты</div>

                              </div>
                              <form action="#" method="post" novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control search-input input-style" aria-label="search-input" placeholder="Найти...">
                                    <div class="input-group-append">
                                            <select class="form-control search-select select-style" id="exampleFormControlSelect1">
                                                <option>Студенты</option>
                                                <option>Специалисты</option>
                                            </select>
                                    </div>

                                </div>
                            </form>
                            <div class="search-count">
                                Найдено 124 профиля

                            </div>
                        </div>
                        <div class="product-wrapper product-layout layout-grid px-3">
                            <div class="row mx-0">


                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Profiles/medium_edd6cd305a56a3f4a23dbf6a108762a0.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Магистрант
                                    </div>
                                    <div class="vac-name">
                                        <a href="profile.html"> Александр Астрелин </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Магистрант</a>
                                        <a href="#">АУЭС</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <a href="#">Разработка ПО</a>
                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">Работа в команде</a>
                                            <a href="#">Планирование проекта</a>
                                            <a href="#">Нетворкинг</a>
                                            <a href="#">Серверное программирование</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                        </div>
                                        <div class="recommended mt-2">
                                            <a href="#"><span>5</span>пройденных курсов</a>
                                            <a href="#"><span>4</span>посещенных событий</a>
                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Profiles/unnamed.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Сотрудник компании
                                    </div>
                                    <div class="vac-name">
                                        <a href="profile.html"> Бармин Роман </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Менеджер</a>
                                        <a href="#">Chokofamily</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <a href="#">Разработка ПО</a>
                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">Работа в команде</a>
                                            <a href="#">Планирование проекта</a>
                                            <a href="#">Нетворкинг</a>
                                            <a href="#">Серверное программирование</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                        </div>
                                        <div class="recommended mt-2">
                                            <a href="#"><span>5</span>пройденных курсов</a>
                                            <a href="#"><span>4</span>посещенных событий</a>
                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Profiles/unnamed.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Магистрант
                                    </div>
                                    <div class="vac-name">
                                        <a href="profile.html"> Бармин Роман </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Магистрант</a>
                                        <a href="#">АУЭС</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <a href="#">Разработка ПО</a>
                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">Работа в команде</a>
                                            <a href="#">Планирование проекта</a>
                                            <a href="#">Нетворкинг</a>
                                            <a href="#">Серверное программирование</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                        </div>
                                        <div class="recommended mt-2">
                                            <a href="#"><span>5</span>пройденных курсов</a>
                                            <a href="#"><span>4</span>посещенных событий</a>
                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Profiles/unnamed.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Магистрант
                                    </div>
                                    <div class="vac-name">
                                        <a href="profile.html"> Бармин Роман </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Магистрант</a>
                                        <a href="#">АУЭС</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <a href="#">Разработка ПО</a>
                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">Работа в команде</a>
                                            <a href="#">Планирование проекта</a>
                                            <a href="#">Нетворкинг</a>
                                            <a href="#">Серверное программирование</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                        </div>
                                        <div class="recommended mt-2">
                                            <a href="#"><span>5</span>пройденных курсов</a>
                                            <a href="#"><span>4</span>посещенных событий</a>
                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Profiles/unnamed.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Магистрант
                                    </div>
                                    <div class="vac-name">
                                        <a href="profile.html"> Бармин Роман </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Магистрант</a>
                                        <a href="#">АУЭС</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <a href="#">Разработка ПО</a>
                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">Работа в команде</a>
                                            <a href="#">Планирование проекта</a>
                                            <a href="#">Нетворкинг</a>
                                            <a href="#">Серверное программирование</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                        </div>
                                        <div class="recommended mt-2">
                                            <a href="#"><span>5</span>пройденных курсов</a>
                                            <a href="#"><span>4</span>посещенных событий</a>
                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Profiles/unnamed.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Магистрант
                                    </div>
                                    <div class="vac-name">
                                        <a href="profile.html"> Бармин Роман </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Магистрант</a>
                                        <a href="#">АУЭС</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <a href="#">Разработка ПО</a>
                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">Работа в команде</a>
                                            <a href="#">Планирование проекта</a>
                                            <a href="#">Нетворкинг</a>
                                            <a href="#">Серверное программирование</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                        </div>
                                        <div class="recommended mt-2">
                                            <a href="#"><span>5</span>пройденных курсов</a>
                                            <a href="#"><span>4</span>посещенных событий</a>
                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Profiles/unnamed.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Магистрант
                                    </div>
                                    <div class="vac-name">
                                        <a href="profile.html"> Бармин Роман </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Магистрант</a>
                                        <a href="#">АУЭС</a>

                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <a href="#">Разработка ПО</a>
                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">Работа в команде</a>
                                            <a href="#">Планирование проекта</a>
                                            <a href="#">Нетворкинг</a>
                                            <a href="#">Серверное программирование</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                        </div>
                                        <div class="recommended mt-2">
                                            <a href="#"><span>5</span>пройденных курсов</a>
                                            <a href="#"><span>4</span>посещенных событий</a>
                                        </div>



                                    </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="action-bar-inner mt-30">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <nav class="pagination-wrap mb-10 mb-sm-0">
                                        <ul class="pagination">
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#"><i class="ion-ios-arrow-thin-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>

                                <div class="col-sm-6 text-center text-sm-right">
                                    <p>Показано 1–12 of 26 профилей</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="block sidebar">
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Отрасль</span>
                            </div>
                            <div class="filter-body">

                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                        <option>Информационные технологии, Интернет, связь, телеком</option>
                                        <option>Административная работа, секретариат, АХО</option>
                                        <option>Бухгалтерия, экономика и финансы</option>
                                        <option>Геология, геодезия и картография</option>
                                        <option>Дизайн, искусство, культура и развлечения</option>
                                        <option>Маркетинг, реклама, PR</option>
                                        <option>Образование и наука</option>
                                        <option>Право и юриспруденция</option>
                                        <option>Промышленность, производство</option>
                                        <option>СМИ, журналистика, издательское дело</option>
                                        <option>Сельское хозяйство</option>
                                        <option>Туризм, сервис, ресторанный бизнес</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Регион</span>
                            </div>
                            <div class="filter-body">

                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                      <option>Алматы</option>
                                      <option>Алматинская область</option>
                                      <option>Нур-Султан</option>
                                      <option>Акмолинская область</option>
                                      <option>Кызылорда</option>
                                      <option>Шымкент</option>
                                      <option>Актобе</option>
                                      <option>Атырау</option>
                                      <option>Уральск</option>
                                      <option>Караганда</option>
                                      <option>Семей</option>
                                      <option>Тараз</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Навыки</span>
                            </div>
                            <div class="filter-body">

                                <section class="right">
                                    <article class="addJob">
                                        <form action="" method="post" class=" d-flex">
                                            <input type="text" class="form-control input-style" name="name" id="input_h2" required="required">
                                            <input type="submit" class="btn ml-2 p-3 reg-btn" value="+" id="add">
                                        </form>
                                    </article>
                                </section>
                                <section class="left">
                                    <article id="listJob"></article>
                                </section>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Учреждение</span>
                            </div>
                            <div class="filter-body">

                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                        <option>Любое</option>
                                        <option>КазНУ им. аль-Фараби</option>
                                        <option>КазЭУ им. Т. Рыскулова</option>
                                        <option>КазНТУ им. К. И. Сатпаева</option>
                                        <option>Университет международного бизнеса</option>
                                        <option>КазНПУ им. Абая</option>
                                        <option>АУЭС им. Г. Даукеева</option>
                                        <option>Нет моего учебного заведения</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


