{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Ваканcии - {% endblock %}

{% block content %}
<div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="block">
                        <div class="block-section ">
                            <div class="d-flex bd-highlight mb-3 block-nav-title">
                                <div class="mr-auto py-2 bd-highlight block-title">Вакансии</div>
                                <div class="py-2 bd-highlight">
                                    <button class="btn reg-btn">
                                        Подписаться
                                    </button>
                                </div>
                              </div>
                              <form action="#" method="post" novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control search-input input-style" aria-label="search-input" placeholder="Найти...">
                                    <div class="input-group-append">
                                            <select class="form-control search-select select-style" id="exampleFormControlSelect1">
                                                <option>Все категории</option>
                                                <option>Вакансия</option>
                                                <option>Образование</option>
                                                <option>События</option>
                                                <option>Студенты</option>
                                                <option>Специалисты</option>
                                            </select>

                                    </div>

                                </div>
                            </form>
                            <div class="search-count">
                                Найдено 124 вакансий

                            </div>
                        </div>
                        <div class="product-wrapper product-layout layout-grid px-3">
                            <div class="row mx-0">


                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/kaspi.png' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Стажировка
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}"> Python-разработчик </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Каспи банк</a>
                                        <a href="#">Алматы</a>
                                        <a href="#">Можно удаленно</a>
                                    </div>
                                    <div class="vac-price">
                                        от 100 000 KZT
                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>

                                            <a href="#">CSS</a>


                                        </div>
                                        <div class="recommended mt-2">
                                            <a href="#"><span>5</span>рекомендованных курсов</a>
                                            <a href="#"><span>4</span>рекомендованные событий</a>
                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/Choko.png' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Стажировка
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">SEO-специалист </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">ChokoFamily</a>
                                        <a href="#">Алматы</a>
                                        <a href="#">Можно удаленно</a>
                                    </div>
                                    <div class="vac-price">
                                        Бесплатно
                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">

                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">Работа в команде</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>


                                        </div>
                                        <div class="recommended mt-2 ">
                                            <a href="#"><span>5</span>рекомендованных курсов</a>

                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/platonus.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Стажировка
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}"> Инженер-конструктор </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Platonus</a>
                                        <a href="#">Алматы</a>
                                        <a href="#">Можно удаленно</a>
                                    </div>
                                    <div class="vac-price">
                                        <span class="text-dark">Платно: </span>
                                        100 000 KZT
                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>


                                        </div>
                                        <div class="recommended mt-2 d-none">
                                            <a href="#"><span>5</span>рекомендованных курсов</a>
                                            <a href="#"><span>4</span>рекомендованные событий</a>
                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/kaztel.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Стажировка
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}"> Инженер-проектировщик, техник-проектировщик</a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Казахтелеком</a>
                                        <a href="#">Алматы</a>
                                        <a href="#">Можно удаленно</a>
                                    </div>
                                    <div class="vac-price">
                                        от 100 000 KZT
                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                        </div>
                                        <div class="recommended mt-2">
                                            <a href="#"><span>5</span>рекомендованных курсов</a>
                                            <a href="#"><span>4</span>рекомендованные событий</a>

                                        </div>



                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Company/yandex.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Стажировка
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}"> Преподователь-программист </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}">Яндекс Казахстан</a>
                                        <a href="#">Алматы</a>
                                        <a href="#">Можно удаленно</a>
                                    </div>
                                    <div class="vac-price">
                                        от 100 000 KZT
                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>


                                        </div>
                                        <div class="recommended mt-2">
                                            <a href="#"><span>5</span>рекомендованных курсов</a>
                                            <a href="#"><span>4</span>рекомендованные событий</a>

                                        </div>



                                    </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="action-bar-inner mt-30">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <nav class="pagination-wrap mb-10 mb-sm-0">
                                        <ul class="pagination">
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#"><i class="ion-ios-arrow-thin-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>

                                <div class="col-sm-6 text-center text-sm-right">
                                    <p>Показано 1–12 of 26 вакансий</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="block sidebar">
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Отрасль</span>
                            </div>
                            <div class="filter-body">

                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                        <option>Информационные технологии, Интернет, связь, телеком</option>
                                        <option>Административная работа, секретариат, АХО</option>
                                        <option>Бухгалтерия, экономика и финансы</option>
                                        <option>Геология, геодезия и картография</option>
                                        <option>Дизайн, искусство, культура и развлечения</option>
                                        <option>Маркетинг, реклама, PR</option>
                                        <option>Образование и наука</option>
                                        <option>Право и юриспруденция</option>
                                        <option>Промышленность, производство</option>
                                        <option>СМИ, журналистика, издательское дело</option>
                                        <option>Сельское хозяйство</option>
                                        <option>Туризм, сервис, ресторанный бизнес</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Регион</span>
                            </div>
                            <div class="filter-body">

                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                      <option>Алматы</option>
                                      <option>Алматинская область</option>
                                      <option>Нур-Султан</option>
                                      <option>Акмолинская область</option>
                                      <option>Кызылорда</option>
                                      <option>Шымкент</option>
                                      <option>Актобе</option>
                                      <option>Атырау</option>
                                      <option>Уральск</option>
                                      <option>Караганда</option>
                                      <option>Семей</option>
                                      <option>Тараз</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Навыки</span>
                            </div>
                            <div class="filter-body">

                                <section class="right">
                                    <article class="addJob">
                                        <form action="" method="post" class=" d-flex">
                                            <input type="text" class="form-control input-style" name="name" id="input_h2" required="required">
                                            <input type="submit" class="btn ml-2 p-3 reg-btn" value="+" id="add">
                                        </form>
                                    </article>
                                </section>
                                <section class="left">
                                    <article id="listJob"></article>
                                </section>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Зароботная плата</span>
                            </div>
                            <div class="filter-body">

                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" value="">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Указана
                                    </label>
                                </div>
                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                        <option>Любая</option>
                                        <option>От 50 000 KZT</option>
                                        <option>От 100 000 KZT</option>
                                        <option>От 150 000 KZT</option>
                                        <option>От 200 000 KZT</option>
                                        <option>От 300 000 KZT</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-title">
                                <span>Тип занятости</span>
                            </div>
                            <div class="filter-body">
                                <div class="form-group">
                                    <select class="form-control select-style" id="exampleFormControlSelect1">
                                    <option>Практика</option>
                                    <option>Стажировка</option>
                                    <option>Полная занятость</option>
                                    <option>Проектная занятость</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block sidebar">
                        <div class="px-3">
                            <div class="mr-auto bd-highlight block-title">Компании</div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/yandex.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}"> Яндекс </a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/Choko.png' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">ChokoFamily</a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/augel.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}"> Аугель Компани </a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/kaztel.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}"> Казахтелеком </a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/kaspi.png' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">Каспи банк</a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="py-3">
                                    <a href="#" class="btn full-btn">Все компании</a>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}


