{% extends "site_settings/base.html" %}

{% load static humanize %}

{% block title %}Название вакансии - {% endblock %}
<!-- TODO: заменить title -->
{% block content %}
<div class="container">
            <div class="row">
                <div class="col-8">

                    <div class="block p-3 py-4">

                        <div class="vac-item m-0 border-0">

                            <div class="vac-info">

                            <div class="vac-type">
                                Стажировка
                            </div>
                            <div class="block-section-title"> Название вакансии </div>


                            </div>
                        </div>


                        <div class="vacancy-item-info">
                            <div class="vacancy-item-label">Оплачиваемая стажировка</div>
                            <div class="vacancy-item-stats vac-price">
                                от 100 000 KZT
                            </div>
                        </div>
                            <div class="vacancy-item-info">
                                <div class="vacancy-item-label">Местоположение и тип занятости</div>
                                <div class="vacancy-item-stats">
                                    <a href="#">Алматы</a>,
                                    <a href="#">Стажировка</a>,
                                    <a href="#">Можно удаленно</a>,
                                </div>
                            </div>
                            <div class="vacancy-item-info">
                                <div class="vacancy-item-label">Требуемые навыки</div>
                                <div class="vacancy-item-stats">
                                    <div class="req-skill">
                                        <a href="#">JavaScript</a>
                                        <a href="#">Тайм-менеджмент</a>
                                        <a href="#">Управление проектом</a>
                                        <a href="#">React.js</a>
                                        <a href="#">GraphQL</a>
                                        <a href="#">HTML</a>
                                        <a href="#">CSS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancy-item-info">
                                <div class="vacancy-item-label">Получаемые навыки</div>
                                <div class="vacancy-item-stats">
                                    <div class="req-skill">
                                        <a href="#">Тайм-менеджмент</a>
                                        <a href="#">Управление проектом</a>
                                        <a href="#">Успеваемость</a>
                                        <a href="#">Работа в команде</a>
                                        <a href="#">Планирование проекта</a>
                                        <a href="#">Нетворкинг</a>
                                        <a href="#">Серверное программирование</a>
                                        <a href="#">JavaScript</a>
                                        <a href="#">Node.js</a>
                                        <a href="#">React.js</a>
                                        <a href="#">GraphQL</a>
                                        <a href="#">HTML</a>
                                        <a href="#">CSS</a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn full-btn">Откликнуться</a>




                    </div>
                    <div class="block vacancy-item">
                        <div class="block-section border-0 p-0">
                            <div class="d-flex bd-highlight mb-3 block-nav-title">
                                <div class="mr-auto py-2 bd-highlight block-title">Описание работы</div>
                              </div>
                        </div>
                        <div class="vac-desc">
                            <div class="vac-desc-section">
                                <p class="desc-text">Расширяем штат на новые направления работы. Ищем в команду Веб-разработчика на постоянную работу.

                                    Компания занимается продвижением сайтов в сети интернет уже на протяжении 9 лет и представлена на Российском, Европейском и Американском рынках. В разработке одновременно находится несколько проектов на постоянной основе, над которыми работает слаженная команда, сформировавшаяся более 5 лет назад.</div>
                            </div>
                            <div class="vac-desc-section">
                                <div class="desc-title">Задачи</div>
                                <ul>
                                    <li>Разработка приложений, сайтов, скриптов.</li>
                                    <li>Нестандартные способы решения поставленных задач приветствуются.</li>
                                    <li>По мере вашего роста вам будут предлагаться всё более интересные задачи для дальнейшего роста и развития.</li>
                                    <li>Верстка интернет проектов (для платформы 1С-Битрикс);</li>
                                    <li>Интеграция шаблонов в CMS;</li>
                                    <li>Участвовать в развитии интересных внутренних проектов компании.</li>
                                </ul>
                            </div>
                            <div class="vac-desc-section">
                                <div class="desc-title">Условия</div>
                                <ul>
                                    <li>Плавающее начало рабочего дня, суббота, воскресение - выходные;</li>
                                    <li>Работу в современном офисе и БЦ в 3 минутах ходьбы от м. Чкаловская;</li>
                                    <li>Отсутствие жесткой субординации и дресс-кода внутри компании;</li>
                                    <li>Работу в дружной компании профессионалов;</li>
                                    <li>Интересные проекты;</li>
                                    <li>Широкие возможности для самореализации, профессионального и карьерного роста;</li>
                                    <li>Комфортное рабочее место и работу на современном оборудовании;</li>
                                    <li>Чай/кофе, печеньки в офисе;</li>
                                    <li>Корпоративные праздники и поездки.</li>
                                </ul>
                            </div>
                            <div class="vac-desc-section">
                                <div class="desc-title">Требования к работе</div>
                                <ul>
                                    <li>Знание HTML и CSS (в том числе сетки и CSS-фреймворки, HTML5/CSS3);</li>
                                    <li>Умение работать с CSS-препроцессорами;</li>
                                    <li>Знание JavaScript, AJAX и JjQuery;</li>
                                    <li>Умение верстать сайты валидно и кроссбраузерно (IE включительно);</li>
                                    <li>Базовое знание Photoshop (как правило, на уровне резки макетов).</li>
                                </ul>
                            </div>
                            <div class="vac-desc-section">
                                <div class="desc-title">Дополнительно</div>
                                <p>Резюме направлять на почту, в контактах обязательно указать логин Skype для проведения собеседования.
                                    Откликаясь на эту вакансию вы должны быть готовы находиться на месте с 10:00 до 19:00 и в это время работать над проектами.
                                </p>
                            </div>

                    </div>
                    <div class="block">

                        <div class="block-section border-0">
                            <div class="d-flex bd-highlight mb-3 block-nav-title">
                                <div class="mr-auto py-2 bd-highlight block-title">Рекомендуемые курсы</div>
                              </div>
                        </div>
                        <div class="vac-item m-0 pt-4 px-3">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/GB.jpg' %}" alt="">
                                </div>


                            </div>
                            <div class="vac-info">

                            <div class="vac-type">
                                Курс
                            </div>
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}"> Frontend Уровень 1 </a>
                            </div>

                            <div class="vac-company-info">
                                <a href="#">ChokoFamily</a>
                                <a href="#">Алматы</a>
                                <a href="#">Можно удаленно</a>
                            </div>
                            <div class="vac-price">
                                Бесплатно
                            </div>

                            <div class="vac-info-block">

                                <div class="req-skill mt-2">
                                    <span class="d-none">Навыки:</span>
                                    <a href="#">JavaScript</a>
                                    <a href="#">Node.js</a>
                                    <a href="#">React.js</a>
                                    <a href="#">GraphQL</a>
                                    <a href="#">HTML</a>
                                    <a href="#">CSS</a>
                                </div>




                            </div>
                            </div>
                        </div>
                        <div class="vac-item m-0 pt-4 px-3">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/Getcourse.jpg' %}" alt="">
                                </div>


                            </div>
                            <div class="vac-info">

                            <div class="vac-type">
                                Курс
                            </div>
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}"> Тайм-менеджмент </a>
                            </div>

                            <div class="vac-company-info">
                                <a href="#">ChokoFamily</a>
                                <a href="#">Алматы</a>
                                <a href="#">Можно удаленно</a>
                            </div>
                            <div class="vac-price">
                                35 000 KZT
                            </div>

                            <div class="vac-info-block">

                                <div class="req-skill mt-2">
                                    <span class="d-none">Навыки:</span>
                                    <a href="#">JavaScript</a>
                                    <a href="#">Node.js</a>
                                    <a href="#">React.js</a>
                                    <a href="#">GraphQL</a>
                                    <a href="#">HTML</a>
                                    <a href="#">CSS</a>
                                </div>




                            </div>
                            </div>
                        </div>

                        <div class="block-section border-0">
                            <div class="d-flex bd-highlight mb-3 block-nav-title">
                                <div class="mr-auto py-2 bd-highlight block-title">Рекомендуемые события</div>
                              </div>
                        </div>
                        <div class="product-wrapper product-layout layout-grid">
                            <div class="row mx-0">

                                <div class="vac-item m-0 pt-4 px-3">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Events/2020-05-05_15-04-08.png' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Хакатон
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}"> Хакатон Hackday </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Хакатон</a>
                                        <a href="#">Алматы</a>
                                        <a href="#">Можно удаленно</a>
                                    </div>
                                    <div class="vac-price">
                                        Бесплатно
                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">

                                            <span class="d-none">Навыки:</span>
                                            <a href="#">Тайм-менеджмент</a>
                                            <a href="#">Управление проектом</a>
                                            <a href="#">Успеваемость</a>
                                            <a href="#">JavaScript</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                        </div>




                                    </div>
                                    </div>
                                </div>
                                <div class="vac-item m-0 pt-4 px-3">
                                    <div class="vac-thumb">
                                        <div class="vac-thumb-img">
                                            <img src="{% static 'site_settings/img/Events/calendar-flat-icon-01-.jpg' %}" alt="">
                                        </div>


                                    </div>
                                    <div class="vac-info">

                                    <div class="vac-type">
                                        Конференция
                                    </div>
                                    <div class="vac-name">
                                        <a href="{% url 'internship:vacancy_detail' '1' %}"> Конференция Веб-разработчиков Алматы </a>
                                    </div>

                                    <div class="vac-company-info">
                                        <a href="#">Конференция</a>
                                        <a href="#">Алматы</a>
                                        <a href="#">Можно удаленно</a>
                                    </div>
                                    <div class="vac-price">
                                        Бесплатно
                                    </div>

                                    <div class="vac-info-block">

                                        <div class="req-skill mt-2">
                                            <span class="d-none">Навыки:</span>
                                            <a href="#">JavaScript</a>
                                            <a href="#">Node.js</a>
                                            <a href="#">React.js</a>
                                            <a href="#">GraphQL</a>
                                            <a href="#">HTML</a>
                                            <a href="#">CSS</a>
                                        </div>




                                    </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>






                </div>
                <div class="col-4">
                    <div class="block sidebar">
                        <div class="section company_info section--rounded">
                            <a class="logo" href="{% url 'internship:vacancy_detail' '1' %}">
                                <img alt="Логотип компании «Kinetik Software»" src="{% static 'site_settings/img/Company/Choko.png' %}"></a>
                                <div class="company_name">
                                    <a href="{% url 'internship:vacancy_detail' '1' %}">Chokofamily</a>
                                </div>
                                <div class="company_about">Один из лидеров рынка услуг миллионам пользователей по всему Казахстана.</div>
                                <div class="company_site">
                                    <a rel="nofollow" href="#">Chokofamily.com</a>
                                </div>
                                <div class="company_vacancies">
                                    <h2 class="section-title section-title--divider border-0 my-2">
                                        <span class="section-title__title">Вакансии от компании</span>
                                        <span class="section-title__right"></span>
                                    </h2>
                                    <div class="vac-item">
                                        <div class="vac-thumb">
                                            <div class="vac-thumb-img">
                                                <img src= "{% static 'site_settings/img/Company/Choko.png' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="vac-info text-left">
                                            <div>
                                                <div class="vacancies_list__title vac-name">
                                                    <a class="vacancies_list__vacancy-link" href="{% url 'internship:vacancy_detail' '1' %}">Python-разработчик </a>
                                                </div>
                                                <div class="vacancies_list__meta mq-mobile-only">
                                                    <a class="vacancies_list__company-link" href="{% url 'internship:vacancy_detail' '1' %}">Chokofamily</a>

                                                    <a class="vacancies_list__location-link" href="#">Алматы</a>
                                                </div>

                                                <div class="vacancies_list__salary">От 80 000 до 140 000  тг</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vac-item">
                                        <div class="vac-thumb">
                                            <div class="vac-thumb-img">
                                                <img src= "{% static 'site_settings/img/Company/Choko.png' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="vac-info text-left">
                                            <div>
                                                <div class="vacancies_list__title vac-name">
                                                    <a class="vacancies_list__vacancy-link" href="{% url 'internship:vacancy_detail' '1' %}">SEO-специалист</a>
                                                </div>
                                                <div class="vacancies_list__meta mq-mobile-only">
                                                    <a class="vacancies_list__company-link" href="{% url 'internship:vacancy_detail' '1' %}">ChokoFamily</a>

                                                    <a class="vacancies_list__location-link" href="#">Алматы</a>
                                                </div>

                                                <div class="vacancies_list__salary">От 80 000 до 140 000 тг</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vac-item">
                                        <div class="vac-thumb">
                                            <div class="vac-thumb-img">
                                                <img src= "{% static 'site_settings/img/Company/Choko.png' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="vac-info text-left">
                                            <div>
                                                <div class="vacancies_list__title vac-name">
                                                    <a class="vacancies_list__vacancy-link" href="{% url 'internship:vacancy_detail' '1' %}">Преподователь-программист</a>
                                                </div>
                                                <div class="vacancies_list__meta mq-mobile-only">
                                                    <a class="vacancies_list__company-link" href="{% url 'internship:vacancy_detail' '1' %}">ChokoFamily</a>

                                                    <a class="vacancies_list__location-link" href="#">Алматы</a>
                                                </div>

                                                <div class="vacancies_list__salary">От 80 000 до 140 000 тг</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vac-item">
                                        <div class="vac-thumb">
                                            <div class="vac-thumb-img">
                                                <img src= "{% static 'site_settings/img/Company/Choko.png' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="vac-info text-left">
                                            <div>
                                                <div class="vacancies_list__title vac-name">
                                                    <a class="vacancies_list__vacancy-link" href="{% url 'internship:vacancy_detail' '1' %}">Frontend developer </a>
                                                </div>
                                                <div class="vacancies_list__meta mq-mobile-only">
                                                    <a class="vacancies_list__company-link" href="{% url 'internship:vacancy_detail' '1' %}">ChokoFamily</a>

                                                    <a class="vacancies_list__location-link" href="#">Алматы</a>
                                                </div>

                                                <div class="vacancies_list__salary">От 80 000 до 140 000  тг</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="load_more">
                                        <a href="#" class="btn">ВСЕ ВАКАНСИИ</a>
                                    </div>
                                </div>
                            </div>
                    </div>




                    <div class="block sidebar">
                        <div class="section-pad">
                            <h2 class="section-title section-title--divider">
                                <span class="section-title__title">Похожие вакансии</span>
                                <span class="section-title__right"></span>
                            </h2>
                            <div class="vac-item">
                                <div class="vac-thumb">
                                    <div class="vac-thumb-img">
                                        <img src= "{% static 'site_settings/img/Company/kaspi.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="vac-info text-left">
                                    <div>
                                        <div class="vacancies_list__title vac-name">
                                            <a class="vacancies_list__vacancy-link" href="{% url 'internship:vacancy_detail' '1' %}">Python-разработчик </a>
                                        </div>
                                        <div class="vacancies_list__meta mq-mobile-only">
                                            <a class="vacancies_list__company-link" href="{% url 'internship:vacancy_detail' '1' %}">Каспи банк</a>

                                            <a class="vacancies_list__location-link" href="#">Алматы</a>
                                        </div>

                                        <div class="vacancies_list__salary">От 80 000 до 140 000  тг</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vac-item">
                                <div class="vac-thumb">
                                    <div class="vac-thumb-img">
                                        <img src= "{% static 'site_settings/img/Company/kaztel.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="vac-info text-left">
                                    <div>
                                        <div class="vacancies_list__title vac-name">
                                            <a class="vacancies_list__vacancy-link" href="{% url 'internship:vacancy_detail' '1' %}">SEO-специалист</a>
                                        </div>
                                        <div class="vacancies_list__meta mq-mobile-only">
                                            <a class="vacancies_list__company-link" href="{% url 'internship:vacancy_detail' '1' %}">Казахтелеком</a>

                                            <a class="vacancies_list__location-link" href="#">Алматы</a>
                                        </div>

                                        <div class="vacancies_list__salary">Бесплатно</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vac-item">
                                <div class="vac-thumb">
                                    <div class="vac-thumb-img">
                                        <img src= "{% static 'site_settings/img/Company/yandex.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="vac-info text-left">
                                    <div>
                                        <div class="vacancies_list__title vac-name">
                                            <a class="vacancies_list__vacancy-link" href="{% url 'internship:vacancy_detail' '1' %}">Преподователь-программист</a>
                                        </div>
                                        <div class="vacancies_list__meta mq-mobile-only">
                                            <a class="vacancies_list__company-link" href="{% url 'internship:vacancy_detail' '1' %}">Яндекс</a>

                                            <a class="vacancies_list__location-link" href="#">Алматы</a>
                                        </div>

                                        <div class="vacancies_list__salary">Оплата: 40 000 тг</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vac-item">
                                <div class="vac-thumb">
                                    <div class="vac-thumb-img">
                                        <img src= "{% static 'site_settings/img/Company/platonus.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="vac-info text-left">
                                    <div>
                                        <div class="vacancies_list__title vac-name">
                                            <a class="vacancies_list__vacancy-link" href="{% url 'internship:vacancy_detail' '1' %}">Frontend developer </a>
                                        </div>
                                        <div class="vacancies_list__meta mq-mobile-only">
                                            <a class="vacancies_list__company-link" href="{% url 'internship:vacancy_detail' '1' %}">Платонус</a>

                                            <a class="vacancies_list__location-link" href="#">Алматы</a>
                                        </div>

                                        <div class="vacancies_list__salary">От 80 000 до 140 000  тг</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block sidebar">
                        <div class="px-3">
                            <div class="mr-auto bd-highlight block-title">Компании</div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/yandex.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}"> Яндекс </a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/Choko.png' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">ChokoFamily</a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/augel.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}"> Аугель Компани </a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src= "{% static 'site_settings/img/Company/kaztel.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}"> Казахтелеком </a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="vac-item">
                            <div class="vac-thumb">
                                <div class="vac-thumb-img">
                                    <img src="{% static 'site_settings/img/Company/kaspi.png' %}" alt="">
                                </div>
                            </div>
                            <div class="vac-info">
                            <div class="vac-name">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">Каспи банк</a>
                            </div>

                            <div class="vac-company-info">
                                <a href="{% url 'internship:vacancy_detail' '1' %}">23 вакансии</a>
                            </div>

                            </div>
                        </div>
                        <div class="py-3">
                                    <a href="#" class="btn full-btn">Все компании</a>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}


